<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bean_dao.interface_info_dao">
    <resultMap id="requireMap" type="com.bean_set.interface_info_set" >
        <id column="interface_id" property="interface_id" jdbcType="INTEGER" />
        <result column="interface_name" property="interface_name" jdbcType="VARCHAR" />
        <result column="methos" property="methos" jdbcType="VARCHAR" />
        <result column="get_param" property="get_param" jdbcType="VARCHAR" />
        <result column="post_param" property="post_param" jdbcType="VARCHAR" />
        <result column="interface_addtime" property="interface_addtime" jdbcType="VARCHAR" />
        <result column="add_author" property="add_author" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
      interface_id, interface_name, methos,get_param,post_param,interface_addtime,add_author
    </sql>



</mapper>